@import 'variables.scss';

.bookpage {
	.presentation {
		margin: $content-padding 0;
		width: calc(100vw - 2 * #{$html-padding});
		margin-left: calc(-#{$html-padding});
		background-color: $book-presentation;
		padding: $html-padding;
		text-align: center;
		.text {
			display: inline-block;
			width: 100%;
			text-align: left;
		}
		.author {
			font-family: 'Novecentowide-Book';
			font-size: 1.7em;
			letter-spacing: 0.2em;
		}
		.title {
			font-family: 'GaramondPremrPro';
			font-size: 3em;
			text-transform: uppercase;
			margin: 1rem 0;
		}
		.year {
			font-size: 2em;
		}
		.image_wrapper {
			width: 100%;
			text-align: center;
			.placeholder {
				position: relative;
				margin: 1rem 0;
				width: 80%;
				display: inline-block;
				margin-bottom: 1rem;
				&:after {
					margin-top: 150%;
					content: '';
					display: inline-block;
				}
				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					margin: 0 !important;
				}
			}
		}

		.button {
			background-color: white;
			color: $book-presentation;
			border: none !important;
			font-size: 1.5em;
			padding-left: 1.5em;
			padding-right: 1.5em;
		}
	}

	.price {
		margin-bottom: $content-padding / 2;
	}

	.warning {
		font-size: 1.5em;
		background-color: $book-presentation;
		margin: $content-padding 0;
		padding: $content-padding;
		width: calc(100vw - 2 * #{$html-padding});
		margin-left: calc(-#{$html-padding});
	}

	.plus {
		text-align: left;
	}
}