@import 'variables.scss';

.bookstore {
	.gallery {
		&.content {
			padding: 0 !important;
			border: none !important;
		}
		display: flex;
		flex-wrap: wrap;
		.book {
			display: block;
			width: calc(50% - #{$content-padding} / 2);
			padding: $content-padding;
			padding-right: $content-padding / 2;
			padding-left: 0;
			text-align: left;
			&:nth-child(2n) {
				padding-left: $content-padding / 2;
				padding-right: 0;
			}
			border-bottom: dotted $grey 2px;
			.placeholder {
				position: relative;
				width: 100%;
				display: inline-block;
				margin-bottom: $content-padding / 2;
				&:after {
					margin-top: 150%;
					content: '';
					display: inline-block;
				}
				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
				}
			}

			.author {
				margin-bottom: $content-padding / 2;
			}

			.author, .title, .year {
				font-family: 'Novecentowide-Medium';
				text-transform: uppercase;
				line-height: 1.1em;
				letter-spacing: $letter-spacing;
			}
			.title, .year {
				color: $footer-light;
			}
			.price {
				font-family: 'GaramondPremrPro-It';
				font-size: 1.5em;
				margin-top: 0.3em;
			}
		}
	}

	.seemore {
		text-align: center;
		.button {
			margin: 0 !important;
		}
	}
}