@import 'variables.scss';

.main {
	padding: 0 #{$html-padding};
	font-size: 0.8rem;
	font-family: 'GaramondPremrPro';

	.content {
		padding-top: #{$content-padding};
		padding-bottom: #{$content-padding};
		border-bottom: dotted $grey 2px;
		text-align: center;
		&:last-child {
			margin-bottom: calc(#{$content-padding} - #{$zigzag-height});
			width: 100%;
		}
	}

	p {
		line-height: 1.4em;
	}
}

em {
	font-style: italic !important;
}

.table {
	display: table;
	width: 100%;
	.row {
		display: table-row;
	}
	.cell {
		display: table-cell;
	}
}

.button {
	$padding: 0.8em;
	margin: 1rem 0 0 0;
	font-family: 'Novecentowide-Bold';
	color: $grey !important;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	padding: $padding;
	border: solid $grey 1px;
	border-radius: $padding * 10;
}

.type1 {
	font-family: 'Novecentowide-Bold';
	text-transform: uppercase;
	margin: 1rem 0;
	line-height: 1.5em;
}

.type2 {
	@extend .type1;
}

.type3 {
	margin: 1rem 0;
	font-family: 'GaramondPremrPro-It';
}

.type {
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

.social {
	width: calc(100vw - 2 * #{$content-padding});
	margin: auto;
	display: flex;
	padding: 1rem 0;
	font-size: 1rem;
	justify-content: space-between;
	li {
		flex-basis: 20%;
		text-align: center;
		svg {
			display: inline-block;
			.wrapper {
				stroke: $footer-dark !important;
				stroke-width: 1px;
				fill: transparent;
			}
			.icon {
				fill: $footer-dark;
			}
			width: 100%;
			height: auto !important;
		}
	}
}

.noscroll {
	overflow: hidden;
}

.category_title {
	text-transform: uppercase;
	font-family: 'Novecentowide-Book';
	display: inline-block;
	width: 100%;
	font-size: 1.7em;
	letter-spacing: $letter-spacing;
	font-weight: 300;
	display: inline-block;
	color: $footer-light;
	padding: calc(#{$content-padding} - #{$html-padding}) 0 $content-padding 0;
	border-bottom: dotted $grey 2px;
}

.plus {
	border-top: dotted $grey 2px;
	& ~ .plus {
		border-top: none;
	}
	span {
		font-size: 1.6em;
		text-transform: uppercase;
		letter-spacing: $letter-spacing;
		font-family: 'Novecentowide-Book';
	}

	.accordeon {
		margin-top: $content-padding;
		display: none;
		font-size: 1.6em;
	}

	&.more-open {
		.accordeon {
			display: block;
		}
	}
}

.exhibition, .events {

	h2 {
		font-family: 'GaramondPremrPro';
		font-size: 3em;
		line-height: 1.2em;
		color: $footer-dark;

		text-align: left;
	}
	

	h3 {
		@extend h2;
		font-size: 2.3em;
		margin: 1rem 0;

	}

	.location {
		font-family: 'Novecentowide-Medium';
		color: $green;
		font-size: 1.6em;
		margin: 1rem 0;
		line-height: 1.2em;

		text-align: left;
	}

	.hour {
		@extend .location;
		color: $footer-dark;

		text-align: left;
	}

	.schedule {
		font-family: 'GaramondPremrPro-It';
		color: green;
		font-size: 1.5em;
		letter-spacing: 0.07em;
		margin: 1rem 0;

		text-align: left;
	}

	.date {
		@extend .schedule;
		color: $footer-dark;

		text-align: left;
	}

	img {
		width: 100%;
		margin: 1rem 0;
	}

	.description {
		font-size: 1.6em;
		text-align: left;
		font-family: 'GaramondPremrPro';
	}
}

.displaynone {
	display: none;
}

@mixin zigzag-top($size, $color) {
	
	&:after {
		background: linear-gradient(-45deg, $color calc(#{$size} / 2), transparent 0), linear-gradient(45deg, $color  calc(#{$size} / 2), transparent 0);
		background-position: left bottom;
		background-repeat: repeat-x;
		background-size: $size $size;
		content: " ";
		display: block;
		position: absolute;
		bottom: 100%;
		left: 0px;
		width: 100%;
		height: $size;
	}
}

@mixin zigzag-bottom($size, $color) {
	
	&:after {

		background: linear-gradient(-45deg, transparent calc(#{$size} / 2), $color 0), linear-gradient(45deg, transparent  calc(#{$size} / 2), $color 0);
		background-position: top;
		background-repeat: repeat-x;
		background-size: $size $size;
		content: " ";
		display: block;
		position: absolute;
		top: 100%;
		left: 0px;
		width: 100%;
		height: $size;
	}
}

.rotate-warning {
	display: none;
	background: url('./rotation_warning.png');
	background-size: contain;
	position: fixed;
	top: 0;
	bottom:0;
	right: 0;
	left: 0;
	z-index: 1000;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: white;
	@media screen and (orientation: landscape) {
		display: block;
	}
}