
@font-face {
    font-family: 'BertholdLight';
    src: url('bertholdakzidenzgroteskbelight-webfont.eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'GaramondPremrPro';
	src: url('./fonts/GaramondPremrPro-Med.otf') format("opentype");
}

@font-face {
	font-family: 'GaramondPremrPro-It';
	src: url('./fonts/GaramondPremrPro-LtItDisp.otf') format("opentype");
}

@font-face {
	font-family: 'Novecentowide-Bold';
	src: url('./fonts/Novecentowide-Bold.otf') format("opentype");
}

@font-face {
	font-family: 'Novecentowide-Book';
	src: url('./fonts/Novecentowide-Book.otf') format("opentype");
}

@font-face {
	font-family: 'Novecentowide-Medium';
	src: url('./fonts/Novecentowide-Medium.otf') format("opentype");
}

@font-face {
	font-family: 'Novecentowide-Light';
	src: url('./fonts/Novecentowide-Light.otf') format("opentype");
}