@import 'variables.scss';

footer {
	position: relative;
	text-align: center;

	.social {
		padding-top: 0;
		padding-bottom: $content-padding;
	}

	.newletter_subscription {
		position: relative;
		font-size: 1.1em;
		@include zigzag-top($zigzag-height, $footer-light);
		padding: $content-padding $content-padding calc( #{$content-padding} + #{$zigzag-height}) $content-padding;
		background-color: $footer-light;
		text-align: left;

		form {
			display: flex;
		}

		.text_input {
			font-size: 1em;
			font-family: 'GaramondPremrPro';
			padding: 0.7em 0.8em 0.3em 0.8em;
			vertical-align: middle;
			border-radius: 1.2em;
			border: none;
			margin-right: 0.3em;
			line-height: 1.2em;
			height: 1.2em;
			background-color: white;
			display: inline-block;
			flex-grow: 1;
		}
		.submit {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			background-color: $footer-dark;
			border-radius: 50%;
			margin-left: 0.3em;
			position: relative;
			width: 2.3em;
			height: 2.3em;
			text-align: center;
			input[type=submit] {
				padding: 0;
				margin: 0;
				line-height: 2.5em;
				font-size: 1em;
				// position:absolute;
				// top: 50%;
				// left: 50%;
				// transform: translate(-50%,-50%);
				color: white;
				background-color: transparent;
				font-family: 'GaramondPremrPro';
				vertical-align: middle;
				border: none;
			}
		}
	}

	.location {
		position: relative;
		font-size: 0.7em;
		text-align: left;
		line-height: 1.5em;
		color: white;
		font-family: 'Novecentowide-Medium';
		padding: $content-padding $content-padding $content-padding * 1.5 $content-padding;
		background-color: $footer-dark;
		@include zigzag-top($zigzag-height, $footer-dark);
		p {
			padding-bottom: $content-padding * 1.5;
			border-bottom: dotted $grey 2px;
		}
	}
}