@function approximateSq($num, $approx) {
  $root : (( $num / $approx ) + $approx) / 2;
  @return $root;
}

@function sqrt($num) {
  $root:0;
  $testRoot : 0;
  $upperBounds : round($num / 2) + 1; //never need over half the main number. Add one just to be sure!
  $loops : $upperBounds;
  @for $test from 2 through $upperBounds {
    $sq : $test * $test;
    @if $sq <= $num {
      $testRoot : $test;
    }
  }  
  
  $root : (approximateSq($num, $testRoot));
  
  @return $root;
}

@function parseInt($n) { 
  @return $n / ($n * 0 + 1);
}

@function rem-to-px($size) {
  $value: parseInt($size) * 30px; //15px is the base size specified
  @return round($value);
}