@import 'variables.scss';

	.infos {
		display: flex;
		line-height: 1.4em;
		text-align: left;
		&>div {
			padding: 0 0.3rem 0 0;
			flex-basis: 50%;
			text-align: left;
			h3 {
				font-size: 1.8em;
				margin-bottom: 0.7em;
			}

			.button {
				width: 70%;
				font-size: 0.8em;
			}

			.cell:last-child {
				text-align: right;
			}

			&:last-child {
				padding: 0 0 0 0.3rem;
			}
		}
	}

	.announcement {
		color: white;
		position: relative;
		display: inline-block;
		width: 100%;
		overflow: hidden;
		text-align: left;
		.type1 {
			font-size: 1.5em;
			text-align: left;
		}
		.type2 {
			font-size: 1em;
			text-align: left;
		}
		.type3 {
			font-size: 2.5em;
			text-align: left;
		}

		&>div {
			position: relative;
			padding: $content-padding;
			background-color: $grey;
			text-align: left;
		}
	}

	.link {
		text-align: center;
		text-transform: uppercase;
		font-family: 'Novecentowide-Bold';
		&:last-child {
			margin-bottom: 3rem !important;
		}
	}