@import 'variables.scss';

header {
	z-index: 3000;
	display: flex;
	width: 100%;

	&.up {
		-webkit-transform: translate(0, -100%);
		transform: translate(0, -100%);
	}

	&.down {
		-webkit-transform: translate(0, 0%);
		transform: translate(0, 0%);
	}
	
	&.fixed {
		position: fixed;
	}

	// -webkit-transition: all 0.2s;
	// transition: all 0.2s;
	-webkit-transform: translateZ(0);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;

	background-color: white;
	// position: absolute;
	top: 0;
	left: 0;
	right:0;
	.top_part {
		width: 100%;
		margin: $html-padding;
		padding-bottom: $content-padding;
		display:flex;
		justify-content: space-between;
		border-bottom: dotted $grey 2px;
		.h1 {
			font-size: 1.3em;
			max-width: 7em;
			display: inline-block;
			img {
				width: 100%
			}
		}

		nav {
			.hamburger {
				display: inline-block;
				cursor: pointer;			
			}
			span {
				position: relative;
				display: inline-block;
				height: 0.2rem;
				background-color: $grey;
				width: 2.5rem;
				transition: all 0.2s;
				&:after, &:before {
					display: inline-block;
					position: absolute;
					left: 0;
					width: 100%;
					content:"";
					height: 0.2rem;
					background-color: $grey;
					transition: all 0.2s;
					-webkit-backface-visibility: hidden;
					-webkit-transform-style: preserve-3d;
				}
				&:before {
					bottom: 0.6rem;
				}
				&:after {
					top: 0.6em;
				}
			}
		}
	}

	.social {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 70%;
		z-index: 3004;
		padding: 0;
		li {
			flex-shrink: 1;
			flex-grow: 1;
			svg {
				width: 70%;
				.wrapper {
					stroke: white !important;
					stroke-width: 2px !important;
					fill: $footer-dark !important;
				}
				.icon {
					fill: white !important;
				}			
			}
		}
	}

	.main_menu {
		* {
			-webkit-tap-highlight-color: rgba(0,0,0,0);
		}
		display: none;
		position: relative;
		margin: 0 $html-padding;
		border-bottom: dotted $grey 2px;
		li {
			display: block;
			padding: 0;
			width: 100%;
			position: relative;
			cursor: pointer;
			&:last-child {
				padding-bottom: $html-padding;
			}
			span {
				padding: $menu-padding-h 0;
				font-family: "Novecentowide-Book";
				color: $grey;
				display: inline-block;
				width: calc(100%);
				-webkit-transition: all 0.2s;
				transition: all 0.2s;
				letter-spacing: $letter-spacing;
				position: relative;
			}
			.submenu {
				display: none;
				width: calc(100vw - 6 * #{$html-padding});
				padding: 0 calc(4 * #{$html-padding});
				margin-left: calc(-2 * #{$html-padding});
				z-index: 3003;
				background-color: $footer-dark;
				ul li:last-child:after, &:before {
					position: relative;
					display: block;
					height: $menu-padding-h;
					content: '';
					width: 100%;
					background-color: $footer-dark;
				}

				ul li {
					color: white;
					span {
					border-bottom: solid white 1px;
					}
				}
			}

			&.open {
				background-color: white;
				z-index: 3002;
				&>span {
					color: $green;
					margin-left: calc(2 * #{$html-padding});
					&:after {
						left: -2em;
						right: auto;
						transform: rotate(180deg) translateY(-50%);
						top: 50%;
						transform-origin: top;
					}
				}
				.submenu {
					display: block;
				}
			}
		}

		>li {
			span:after {
				content: url('./arrow.svg');
				position: absolute;
				margin: auto;
				right: 3%;
				top: 50%;
				transform: translateY(-50%);
				z-index: 3001;
			}
		}

		&.menu-open {
			>li:not(.open) {
				display: none;
			}
		}
	}

	.main_menu_bottom {
		display: none;
		margin-top: $content-padding;
		position: relative;
		bottom: 0;
		left: 0;
		z-index: 3005;
		flex-grow: 1;
		// padding-bottom: calc(2 * #{$html-padding});
		.social {
			position: fixed;
			bottom: calc(4*#{$html-padding});
			left: 0;
			right: 0;
			svg {
				margin-top: 0;
				padding-top: 0 !important;
				padding-bottom: 0 !important;
				margin-bottom: 0 !important;
			}
		}
		img {
			position:absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: bottom;
		}
	}

	.menu-open {
		&+.main_menu_bottom {
			padding-top: $content-padding;
			margin-top: 0;
			@include zigzag-top($zigzag-height, white);
			.social {
				svg {
					.icon {
						fill: $green !important;
					}
					.wrapper {
						stroke: $green !important;
						fill: white !important;
					}
				}
			}
			img {
				display: none;
			}
		}
	}

	&.hover {
		height: 100vh;
		flex-direction: column;
		position: fixed;
		.top_part {
			width: auto;
			nav {
				span {
					$side: (rem-to-px(0.3rem) + 1px);

					$width: 105%;

					background-color: $green;

					&:before {
						transform: rotate(25deg) translate3d(0.3em, 0.53em, 0);
						transform-origin: top;
						background-color: $green;
					}
					&:after {
						transform: rotate(-25deg) translate3d(0.3em, -0.53em, 0);
						transform-origin: bottom;
						background-color: $green;
					}
				}
			}
		}

		.main_menu, .main_menu_bottom {
			display: block;
		}

		>.social {
			display: flex;
		}
	}

}