@import 'reset.scss';
@import 'variables.scss';
@import 'fonts.scss';
@import 'functions.scss';
@import 'common.scss';
@import 'menu.scss';
@import 'footer.scss';
@import 'index.scss';
@import 'page.scss';
@import 'exhibitions.scss';
@import 'bookstore.scss';
@import 'book.scss';

html {
	width: 100%;
	font-size: 15px;
	height: 100%;
	position: relative;

	@media screen and (orientation: landscape) {
		overflow: hidden;
		height: 0vh;
	}
}

body {
	position: relative;
	height: 100%;
	color: $footer-dark;

	@media screen and (orientation: landscape) {
		overflow: hidden;
		height: 0vh;
	}
}