html, body, div, span, applet, object, iframe,
h1, h2, .exhibition h3, .events h3, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

canvas {
  padding: 0;
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }

@font-face {
  font-family: 'BertholdLight';
  src: url("bertholdakzidenzgroteskbelight-webfont.eot");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GaramondPremrPro';
  src: url("./fonts/GaramondPremrPro-Med.otf") format("opentype"); }
@font-face {
  font-family: 'GaramondPremrPro-It';
  src: url("./fonts/GaramondPremrPro-LtItDisp.otf") format("opentype"); }
@font-face {
  font-family: 'Novecentowide-Bold';
  src: url("./fonts/Novecentowide-Bold.otf") format("opentype"); }
@font-face {
  font-family: 'Novecentowide-Book';
  src: url("./fonts/Novecentowide-Book.otf") format("opentype"); }
@font-face {
  font-family: 'Novecentowide-Medium';
  src: url("./fonts/Novecentowide-Medium.otf") format("opentype"); }
@font-face {
  font-family: 'Novecentowide-Light';
  src: url("./fonts/Novecentowide-Light.otf") format("opentype"); }
.main {
  padding: 0 6vw;
  font-size: 0.8rem;
  font-family: 'GaramondPremrPro'; }
  .main .content {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: dotted #cccccc 2px;
    text-align: center; }
    .main .content:last-child {
      margin-bottom: calc(2rem - 0.8rem);
      width: 100%; }
  .main p {
    line-height: 1.4em; }

em {
  font-style: italic !important; }

.table {
  display: table;
  width: 100%; }
  .table .row {
    display: table-row; }
  .table .cell {
    display: table-cell; }

.button {
  margin: 1rem 0 0 0;
  font-family: 'Novecentowide-Bold';
  color: #cccccc !important;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 0.8em;
  border: solid #cccccc 1px;
  border-radius: 8em; }

.type1, .type2 {
  font-family: 'Novecentowide-Bold';
  text-transform: uppercase;
  margin: 1rem 0;
  line-height: 1.5em; }

.type3 {
  margin: 1rem 0;
  font-family: 'GaramondPremrPro-It'; }

.type:first-child {
  margin-top: 0; }
.type:last-child {
  margin-bottom: 0; }

.social {
  width: calc(100vw - 2 * 2rem);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0;
  font-size: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .social li {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    text-align: center; }
    .social li svg {
      display: inline-block;
      width: 100%;
      height: auto !important; }
      .social li svg .wrapper {
        stroke: #4D4E4E !important;
        stroke-width: 1px;
        fill: transparent; }
      .social li svg .icon {
        fill: #4D4E4E; }

.noscroll {
  overflow: hidden; }

.category_title {
  text-transform: uppercase;
  font-family: 'Novecentowide-Book';
  display: inline-block;
  width: 100%;
  font-size: 1.7em;
  letter-spacing: 0.2em;
  font-weight: 300;
  display: inline-block;
  color: #949191;
  padding: calc(2rem - 6vw) 0 2rem 0;
  border-bottom: dotted #cccccc 2px; }

.plus {
  border-top: dotted #cccccc 2px; }
  .plus ~ .plus {
    border-top: none; }
  .plus span {
    font-size: 1.6em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-family: 'Novecentowide-Book'; }
  .plus .accordeon {
    margin-top: 2rem;
    display: none;
    font-size: 1.6em; }
  .plus.more-open .accordeon {
    display: block; }

.exhibition h2, .exhibition h3, .events h2, .events h3 {
  font-family: 'GaramondPremrPro';
  font-size: 3em;
  line-height: 1.2em;
  color: #4D4E4E;
  text-align: left; }
.exhibition h3, .events h3 {
  font-size: 2.3em;
  margin: 1rem 0; }
.exhibition .location, .exhibition .hour, .events .location, .events .hour {
  font-family: 'Novecentowide-Medium';
  color: #009844;
  font-size: 1.6em;
  margin: 1rem 0;
  line-height: 1.2em;
  text-align: left; }
.exhibition .hour, .events .hour {
  color: #4D4E4E;
  text-align: left; }
.exhibition .schedule, .exhibition .date, .events .schedule, .events .date {
  font-family: 'GaramondPremrPro-It';
  color: green;
  font-size: 1.5em;
  letter-spacing: 0.07em;
  margin: 1rem 0;
  text-align: left; }
.exhibition .date, .events .date {
  color: #4D4E4E;
  text-align: left; }
.exhibition img, .events img {
  width: 100%;
  margin: 1rem 0; }
.exhibition .description, .events .description {
  font-size: 1.6em;
  text-align: left;
  font-family: 'GaramondPremrPro'; }

.displaynone {
  display: none; }

.rotate-warning {
  display: none;
  background: url("./rotation_warning.png");
  background-size: contain;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white; }
  @media screen and (orientation: landscape) {
    .rotate-warning {
      display: block; } }

header {
  z-index: 3000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-transform: translateZ(0);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  background-color: white;
  top: 0;
  left: 0;
  right: 0; }
  header.up {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%); }
  header.down {
    -webkit-transform: translate(0, 0%);
    transform: translate(0, 0%); }
  header.fixed {
    position: fixed; }
  header .top_part {
    width: 100%;
    margin: 6vw;
    padding-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: dotted #cccccc 2px; }
    header .top_part .h1 {
      font-size: 1.3em;
      max-width: 7em;
      display: inline-block; }
      header .top_part .h1 img {
        width: 100%; }
    header .top_part nav .hamburger {
      display: inline-block;
      cursor: pointer; }
    header .top_part nav span {
      position: relative;
      display: inline-block;
      height: 0.2rem;
      background-color: #cccccc;
      width: 2.5rem;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
      header .top_part nav span:after, header .top_part nav span:before {
        display: inline-block;
        position: absolute;
        left: 0;
        width: 100%;
        content: "";
        height: 0.2rem;
        background-color: #cccccc;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        -webkit-backface-visibility: hidden;
        -webkit-transform-style: preserve-3d; }
      header .top_part nav span:before {
        bottom: 0.6rem; }
      header .top_part nav span:after {
        top: 0.6em; }
  header .social {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    z-index: 3004;
    padding: 0; }
    header .social li {
      -ms-flex-negative: 1;
          flex-shrink: 1;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
      header .social li svg {
        width: 70%; }
        header .social li svg .wrapper {
          stroke: white !important;
          stroke-width: 2px !important;
          fill: #4D4E4E !important; }
        header .social li svg .icon {
          fill: white !important; }
  header .main_menu {
    display: none;
    position: relative;
    margin: 0 6vw;
    border-bottom: dotted #cccccc 2px; }
    header .main_menu * {
      -webkit-tap-highlight-color: transparent; }
    header .main_menu li {
      display: block;
      padding: 0;
      width: 100%;
      position: relative;
      cursor: pointer; }
      header .main_menu li:last-child {
        padding-bottom: 6vw; }
      header .main_menu li span {
        padding: 3vh 0;
        font-family: "Novecentowide-Book";
        color: #cccccc;
        display: inline-block;
        width: calc(100%);
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        letter-spacing: 0.2em;
        position: relative; }
      header .main_menu li .submenu {
        display: none;
        width: calc(100vw - 6 * 6vw);
        padding: 0 calc(4 * 6vw);
        margin-left: calc(-2 * 6vw);
        z-index: 3003;
        background-color: #4D4E4E; }
        header .main_menu li .submenu ul li:last-child:after, header .main_menu li .submenu:before {
          position: relative;
          display: block;
          height: 3vh;
          content: '';
          width: 100%;
          background-color: #4D4E4E; }
        header .main_menu li .submenu ul li {
          color: white; }
          header .main_menu li .submenu ul li span {
            border-bottom: solid white 1px; }
      header .main_menu li.open {
        background-color: white;
        z-index: 3002; }
        header .main_menu li.open > span {
          color: #009844;
          margin-left: calc(2 * 6vw); }
          header .main_menu li.open > span:after {
            left: -2em;
            right: auto;
            -webkit-transform: rotate(180deg) translateY(-50%);
                    transform: rotate(180deg) translateY(-50%);
            top: 50%;
            -webkit-transform-origin: top;
                    transform-origin: top; }
        header .main_menu li.open .submenu {
          display: block; }
    header .main_menu > li span:after {
      content: url("./arrow.svg");
      position: absolute;
      margin: auto;
      right: 3%;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      z-index: 3001; }
    header .main_menu.menu-open > li:not(.open) {
      display: none; }
  header .main_menu_bottom {
    display: none;
    margin-top: 2rem;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 3005;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    header .main_menu_bottom .social {
      position: fixed;
      bottom: calc(4*6vw);
      left: 0;
      right: 0; }
      header .main_menu_bottom .social svg {
        margin-top: 0;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        margin-bottom: 0 !important; }
    header .main_menu_bottom img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: bottom;
         object-position: bottom; }
  header .menu-open + .main_menu_bottom {
    padding-top: 2rem;
    margin-top: 0; }
    header .menu-open + .main_menu_bottom:after {
      background: -webkit-linear-gradient(135deg, white calc(0.8rem / 2), transparent 0), -webkit-linear-gradient(45deg, white calc(0.8rem / 2), transparent 0);
      background: linear-gradient(-45deg, white calc(0.8rem / 2), transparent 0), linear-gradient(45deg, white calc(0.8rem / 2), transparent 0);
      background-position: left bottom;
      background-repeat: repeat-x;
      background-size: 0.8rem 0.8rem;
      content: " ";
      display: block;
      position: absolute;
      bottom: 100%;
      left: 0px;
      width: 100%;
      height: 0.8rem; }
    header .menu-open + .main_menu_bottom .social svg .icon {
      fill: #009844 !important; }
    header .menu-open + .main_menu_bottom .social svg .wrapper {
      stroke: #009844 !important;
      fill: white !important; }
    header .menu-open + .main_menu_bottom img {
      display: none; }
  header.hover {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed; }
    header.hover .top_part {
      width: auto; }
      header.hover .top_part nav span {
        background-color: #009844; }
        header.hover .top_part nav span:before {
          -webkit-transform: rotate(25deg) translate3d(0.3em, 0.53em, 0);
                  transform: rotate(25deg) translate3d(0.3em, 0.53em, 0);
          -webkit-transform-origin: top;
                  transform-origin: top;
          background-color: #009844; }
        header.hover .top_part nav span:after {
          -webkit-transform: rotate(-25deg) translate3d(0.3em, -0.53em, 0);
                  transform: rotate(-25deg) translate3d(0.3em, -0.53em, 0);
          -webkit-transform-origin: bottom;
                  transform-origin: bottom;
          background-color: #009844; }
    header.hover .main_menu, header.hover .main_menu_bottom {
      display: block; }
    header.hover > .social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }

footer {
  position: relative;
  text-align: center; }
  footer .social {
    padding-top: 0;
    padding-bottom: 2rem; }
  footer .newletter_subscription {
    position: relative;
    font-size: 1.1em;
    padding: 2rem 2rem calc( 2rem + 0.8rem) 2rem;
    background-color: #949191;
    text-align: left; }
    footer .newletter_subscription:after {
      background: -webkit-linear-gradient(135deg, #949191 calc(0.8rem / 2), transparent 0), -webkit-linear-gradient(45deg, #949191 calc(0.8rem / 2), transparent 0);
      background: linear-gradient(-45deg, #949191 calc(0.8rem / 2), transparent 0), linear-gradient(45deg, #949191 calc(0.8rem / 2), transparent 0);
      background-position: left bottom;
      background-repeat: repeat-x;
      background-size: 0.8rem 0.8rem;
      content: " ";
      display: block;
      position: absolute;
      bottom: 100%;
      left: 0px;
      width: 100%;
      height: 0.8rem; }
    footer .newletter_subscription form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    footer .newletter_subscription .text_input {
      font-size: 1em;
      font-family: 'GaramondPremrPro';
      padding: 0.7em 0.8em 0.3em 0.8em;
      vertical-align: middle;
      border-radius: 1.2em;
      border: none;
      margin-right: 0.3em;
      line-height: 1.2em;
      height: 1.2em;
      background-color: white;
      display: inline-block;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
    footer .newletter_subscription .submit {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      background-color: #4D4E4E;
      border-radius: 50%;
      margin-left: 0.3em;
      position: relative;
      width: 2.3em;
      height: 2.3em;
      text-align: center; }
      footer .newletter_subscription .submit input[type=submit] {
        padding: 0;
        margin: 0;
        line-height: 2.5em;
        font-size: 1em;
        color: white;
        background-color: transparent;
        font-family: 'GaramondPremrPro';
        vertical-align: middle;
        border: none; }
  footer .location, footer .exhibition .hour, .exhibition footer .hour, footer .events .hour, .events footer .hour {
    position: relative;
    font-size: 0.7em;
    text-align: left;
    line-height: 1.5em;
    color: white;
    font-family: 'Novecentowide-Medium';
    padding: 2rem 2rem 3rem 2rem;
    background-color: #4D4E4E; }
    footer .location:after, footer .exhibition .hour:after, .exhibition footer .hour:after, footer .events .hour:after, .events footer .hour:after {
      background: -webkit-linear-gradient(135deg, #4D4E4E calc(0.8rem / 2), transparent 0), -webkit-linear-gradient(45deg, #4D4E4E calc(0.8rem / 2), transparent 0);
      background: linear-gradient(-45deg, #4D4E4E calc(0.8rem / 2), transparent 0), linear-gradient(45deg, #4D4E4E calc(0.8rem / 2), transparent 0);
      background-position: left bottom;
      background-repeat: repeat-x;
      background-size: 0.8rem 0.8rem;
      content: " ";
      display: block;
      position: absolute;
      bottom: 100%;
      left: 0px;
      width: 100%;
      height: 0.8rem; }
    footer .location p, footer .exhibition .hour p, .exhibition footer .hour p, footer .events .hour p, .events footer .hour p {
      padding-bottom: 3rem;
      border-bottom: dotted #cccccc 2px; }

.infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.4em;
  text-align: left; }
  .infos > div {
    padding: 0 0.3rem 0 0;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    text-align: left; }
    .infos > div h3 {
      font-size: 1.8em;
      margin-bottom: 0.7em; }
    .infos > div .button {
      width: 70%;
      font-size: 0.8em; }
    .infos > div .cell:last-child {
      text-align: right; }
    .infos > div:last-child {
      padding: 0 0 0 0.3rem; }

.announcement {
  color: white;
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-align: left; }
  .announcement .type1, .announcement .type2 {
    font-size: 1.5em;
    text-align: left; }
  .announcement .type2 {
    font-size: 1em;
    text-align: left; }
  .announcement .type3 {
    font-size: 2.5em;
    text-align: left; }
  .announcement > div {
    position: relative;
    padding: 2rem;
    background-color: #cccccc;
    text-align: left; }

.link {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Novecentowide-Bold'; }
  .link:last-child {
    margin-bottom: 3rem !important; }

.page a {
  color: #f26531;
  text-decoration: none; }

.bookstore .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .bookstore .gallery.content {
    padding: 0 !important;
    border: none !important; }
  .bookstore .gallery .book {
    display: block;
    width: calc(50% - 2rem / 2);
    padding: 2rem;
    padding-right: 1rem;
    padding-left: 0;
    text-align: left;
    border-bottom: dotted #cccccc 2px; }
    .bookstore .gallery .book:nth-child(2n) {
      padding-left: 1rem;
      padding-right: 0; }
    .bookstore .gallery .book .placeholder {
      position: relative;
      width: 100%;
      display: inline-block;
      margin-bottom: 1rem; }
      .bookstore .gallery .book .placeholder:after {
        margin-top: 150%;
        content: '';
        display: inline-block; }
      .bookstore .gallery .book .placeholder img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; }
    .bookstore .gallery .book .author {
      margin-bottom: 1rem; }
    .bookstore .gallery .book .author, .bookstore .gallery .book .title, .bookstore .gallery .book .year {
      font-family: 'Novecentowide-Medium';
      text-transform: uppercase;
      line-height: 1.1em;
      letter-spacing: 0.2em; }
    .bookstore .gallery .book .title, .bookstore .gallery .book .year {
      color: #949191; }
    .bookstore .gallery .book .price {
      font-family: 'GaramondPremrPro-It';
      font-size: 1.5em;
      margin-top: 0.3em; }
.bookstore .seemore {
  text-align: center; }
  .bookstore .seemore .button {
    margin: 0 !important; }

.bookpage .presentation {
  margin: 2rem 0;
  width: calc(100vw - 2 * 6vw);
  margin-left: calc(-6vw);
  background-color: #EBEAEA;
  padding: 6vw;
  text-align: center; }
  .bookpage .presentation .text {
    display: inline-block;
    width: 100%;
    text-align: left; }
  .bookpage .presentation .author {
    font-family: 'Novecentowide-Book';
    font-size: 1.7em;
    letter-spacing: 0.2em; }
  .bookpage .presentation .title {
    font-family: 'GaramondPremrPro';
    font-size: 3em;
    text-transform: uppercase;
    margin: 1rem 0; }
  .bookpage .presentation .year {
    font-size: 2em; }
  .bookpage .presentation .image_wrapper {
    width: 100%;
    text-align: center; }
    .bookpage .presentation .image_wrapper .placeholder {
      position: relative;
      margin: 1rem 0;
      width: 80%;
      display: inline-block;
      margin-bottom: 1rem; }
      .bookpage .presentation .image_wrapper .placeholder:after {
        margin-top: 150%;
        content: '';
        display: inline-block; }
      .bookpage .presentation .image_wrapper .placeholder img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0 !important; }
  .bookpage .presentation .button {
    background-color: white;
    color: #EBEAEA;
    border: none !important;
    font-size: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em; }
.bookpage .price {
  margin-bottom: 1rem; }
.bookpage .warning {
  font-size: 1.5em;
  background-color: #EBEAEA;
  margin: 2rem 0;
  padding: 2rem;
  width: calc(100vw - 2 * 6vw);
  margin-left: calc(-6vw); }
.bookpage .plus {
  text-align: left; }

html {
  width: 100%;
  font-size: 15px;
  height: 100%;
  position: relative; }
  @media screen and (orientation: landscape) {
    html {
      overflow: hidden;
      height: 0vh; } }

body {
  position: relative;
  height: 100%;
  color: #4D4E4E; }
  @media screen and (orientation: landscape) {
    body {
      overflow: hidden;
      height: 0vh; } }