

$content-padding: 2rem;
$menu-padding-w: 4rem;
$menu-padding-h: 3vh;
$html-padding: 6vw;

$grey: lighten(black, 80%);
$green: #009844;
$footer-light: #949191;
$footer-dark: #4D4E4E;
$book-presentation: #EBEAEA;

$zigzag-height: 0.8rem;

$letter-spacing: 0.2em;